.booking-details-container {
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.booking-details-box {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}
